<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<script>
  window.addEventListener("load", () => {
    mermaid.initialize({ startOnLoad: false });

    document.querySelectorAll("pre code.language-mermaid").forEach((block) => {
      const parent = block.parentElement;
      const graphDefinition = block.textContent;

      const div = document.createElement("div");
      div.className = "mermaid";
      div.textContent = graphDefinition;

      parent.replaceWith(div);
    });

    mermaid.init();
  });
</script>
